<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать расписание</title>
    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        $(document).ready(function(){
            $('.datepicker').datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>
</head>
<body>
    <h1>Редактировать расписание</h1>
    <button class="button"><a href="{% url 'schedule' %}" style="color: inherit; text-decoration: none;">Вернуться назад</a></button>

    <br \>
    <table>
        <tr>
            <th>Номер группы</th>
            <th>Предмет</th>
            <th>Преподователь</th>
            <th>Семестр</th>
            <th>Дата</th>
        </tr>
        <tr>
            <td>{{ schedule.group }}</td>
            <td>{{ schedule.discipline }}</td>
            <td>{{ schedule.teacher }}</td>
            <td>{{ schedule.semester }}</td>
            <td>{{ schedule.date }}</td>
        </tr>
    <table />
    <br \>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.teacher }}
        <input type="submit" value="Сохранить изменения">
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</body>
</html>