<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title> Main page </title>
</head>
<body>
    <h1>Выбор нужного поля</h1>
    <button class="button"><a href="schedule" style="color: inherit; text-decoration: none;">Расписание</a></button>
    <button class="button"><a href="session" style="color: inherit; text-decoration: none;">Сессия</a></button>
    <button class="button"><a href="teachers" style="color: inherit; text-decoration: none;">Преподаватели</a></button>
    <button class="button"><a href="students" style="color: inherit; text-decoration: none;">Студенты</a></button>
</body>
<html>