<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Research Results</title>
</head>
<body>
    <h1>Результаты исследования</h1>
    <p>Поиск по ключу занял {{ avg_search_key }} секунд</p>
    <p>Поиск по не ключу занял {{ avg_search_not_key }} секунд</p>
    <p>Поиск по маске занял {{ avg_search_mask }} секунд</p>
    <p>Добавление заняло {{ avg_add }} секунд</p>
    <p>Добавление группы заняло {{ avg_add_many }} секунд</p>
    <p>Изменение заняло {{ avg_change }} секунд</p>
    <p>Изменение группы заняло {{ avg_change_many }} секунд</p>
    <p>Удаление по ключу заняло {{ avg_delete_key }} секунд</p>
    <p>Удаление по не ключу заняло {{ avg_delete_not_key }} секунд</p>
    <p>Удаление группы заняло {{ avg_delete_many }} секунд</p>
    <p>Сжатие1 заняло {{ avg_compression1 }} секунд</p>
    <p>Сжатие2 заняло {{ avg_compression2 }} секунд</p>
</body>
</html>
