<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Research Results</title>
</head>
<body>
    <h1>Результаты исследования</h1>
    <p>{{ avg_search_key }}</p>
    <p>{{ avg_search_not_key }} </p>
    <p> {{ avg_search_mask }} </p>
    <p> {{ avg_add }} </p>
    <p>{{ avg_add_many }} </p>
    <p>{{ avg_change }}</p>
    <p> {{ avg_change_many }}</p>
    <p>{{ avg_delete_key }}</p>
    <p> {{ avg_delete_not_key }}</p>
    <p> {{ avg_delete_many }}</p>
    <p>{{ avg_compression1 }} </p>
    <p> {{ avg_compression2 }}</p>
</body>
</html>
