<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title> Schedule </title>
    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <script>
        $(document).ready(function(){
            // Datepicker initialization
            $('.datepicker').datepicker({
                dateFormat: 'yy-mm-dd'
            });
        
            // AJAX request to fetch disciplines based on selected group's specialty
            $('#id_group').change(function() {
                var groupId = $(this).val();
                if (groupId) {
                    $.ajax({
                        url: '/get_group_disciplines/',  // URL of the Django view to fetch disciplines
                        data: {
                            'group_id': groupId
                        },
                        dataType: 'json',
                        success: function(data) {
                            $('#id_discipline').empty();
                            $.each(data.disciplines, function(index, discipline) {
                                $('#id_discipline').append($('<option>', {
                                    value: discipline[0],
                                    text: discipline[1]
                                }));
                            });
                        }
                    });
                }
            });
        
            // AJAX request to fetch teachers based on selected discipline
            $('#id_discipline').change(function() {
                var disciplineId = $(this).val();
                if (disciplineId) {
                    $.ajax({
                        url: '/get_discipline_teachers/',  // URL of the Django view to fetch teachers
                        data: {
                            'discipline_id': disciplineId
                        },
                        dataType: 'json',
                        success: function(data) {
                            $('#id_teacher').empty();
                            $.each(data.teachers, function(index, teacher) {
                                $('#id_teacher').append($('<option>', {
                                    value: teacher[0],
                                    text: teacher[1]
                                }));
                            });
                        }
                    });
                }
            });
        });
        
    </script>
</head>
<body>
    <h1>Расписание</h1>
    <button class="button"><a href="index" style="color: inherit; text-decoration: none;">Вернуться назад</a></button>
    <form action = "" method = "post">
        {%  csrf_token %}
        {{ form.as_p }}
        <input type = "submit" value = "Добавить" />
    </form>


    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    
    <br />
    <table>
        <tr>
            <th>Номер группы</th>
            <th>Предмет</th>
            <th>Преподователь</th>
            <th>Семестр</th>
            <th>Дата</th>
            <th>Действия</th>
        </tr>
        {% for obj in objects %}
        <tr>
            <td>{{ obj.group }}</td>
            <td>{{ obj.discipline }}</td>
            <td>{{ obj.teacher }}</td>
            <td>{{ obj.semester }}</td>
            <td>{{ obj.date }}</td>
            <td><a href="{% url 'edit_schedule' obj.id %}">Изменить</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
<html>