<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title> Students </title>
    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Список студентов</h1>
    <button class="button"><a href="index" style="color: inherit; text-decoration: none;">Вернуться назад</a></button>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="student_id" value="{{ student.id }}">
        <button type="submit" name="reactivate_student">Восстановить студента</button>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <br />
    <table>
        <tr>
            <th>Студент</th>
            <th>Группа</th>
            <th>Специальность</th>
            <th>Год обучения</th>
            <th>Статус</th>
        </tr>
        {% for obj in objects %}
        <tr>
            <td>{{ obj.name }}</td>
            <td>{{ obj.group }}</td>
            <td>{{ obj.speciality }}</td>
            <td>{{ obj.study_year }}</td>
            <td>
                {% if obj.is_studying == True %}
                  Учится
                {% else %}
                    {% if obj.is_gradueted == True %}
                        Выпускник
                    {% else %}
                        {% if obj.is_expelled == True %}
                            Отчислен
                        {% else %}
                            Неизвестно
                        {% endif %}
                    {% endif %}
                {% endif %}
              </td>
        </tr>
        {% endfor %}
    </table>
</body>
<html>
