<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <title> Teachers </title>
    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Злые преподаватели</h1>
    <button class="button"><a href="index" style="color: inherit; text-decoration: none;">Вернуться назад</a></button>
    <br />
    <table>
        <tr>
            <th>Преподаватели</th>
            <th>Дисциплины</th>
        </tr>
        {% for obj in objects %}
        <tr>
            <td>{{ obj.name }}</td>
            <td>{{ obj.study_discipline }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
<html>